node_modules
dist
dist-ssr
*.local
.DS_Store
.env
.env.*
!.env.example
.obsidian/plugins/digitalgarden/data.json
**/.obsidian/plugins/digitalgarden/data.json
**/digitalgarden/data.json
.obsidian/plugins/digitalgarden/data.json
**/.obsidian/plugins/digitalgarden/data.json
